{% extends "global/base.html" %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{contact.first_name}} {{contact.last_name}} 
        </h1>
        <p><b>ID: </b>{{contact.id}}</p>
        <p><b>Telefone: </b>{{contact.phone}}</p>
        <p><b>E-mail: </b>{{contact.email}}</p>
        <p><b>Categoria: </b>{{contact.category.name}}</p>
        <p><b>Data Criação: </b>{{contact.created_date}}</p>
        <p><b>Descrição: </b>{{contact.description}}</p>
    </div>
{% endblock content %}

